:root {

--branco-principal: #ffffff;
--cor-secundária: #bd4747;
--cor-de-fundo: #940000;
--botão-principal: #000000;

}

body {

background: var(--cor-de-fundo);
color: var(var(--branco-principal));
}

* {

    margin: 0;
    padding: 0;
}